# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
*.env.local
.env.*.local

# Build and output directories
dist/
build/

# Temporary files and folders
tmp/
temp/
*.tmp
*.temp

# Database files
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.bak
*.orig

# Test coverage output
coverage/

# Cache files
.cache/
npm-cache/
yarn-cache/
.pnpm-debug.log

# Dependency directories
/.pnp
.pnp.js

# Miscellaneous
*.lock
*.pid
*.seed
*.pid.lock
